<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        * {
            -webkit-font-smoothing: antialiased;
        }
        body {
            Margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        table {
            border-spacing: 0;
            color: #333333;
            font-family: Arial, sans-serif;
        }
        .wrapper {
            width: 100%;
            table-layout: fixed;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        .webkit {
            max-width: 800px;
        }
        p {
            Margin: 0;
            padding-bottom: 10px;
        }

    </style>
</head>
<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#f3f2f0;">
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f3f2f0;">
	<tr>
		<div class="webkit" style="max-width:800px;Margin:0 auto;">
			<table class="outer" align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;Margin:0 auto;width:100%;max-width:800px;">
				<tr>
					<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><br>
						<table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5" bgcolor="#FFFFFF">
							<tr>
								<td align="left" style="padding:0px 40px 40px 40px"><p style="color:#262626; font-size:32px; text-align:left; font-family: Verdana, Geneva, sans-serif">Hello <%= name %></p>
									<br style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
									<%= message %></br>
									<br />
								 </p></td>
							</tr>
						</table>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr><td height="10">&nbsp;</td></tr>
							<tr>
								<div class="column" style="width:100%;max-width:399px;display:inline-block;vertical-align:top;">
									<tr>
										<p style="color:#787777; font-size:13px; text-align:left; font-family: Verdana, Geneva, sans-serif">
										Wefix - Garage management system <br />
										Rafael Mosheyoff & Or Eliyahu<br />
										</p>
									</tr>
								</div>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</tr>
</center>
</body>
</html>